In [ ]:

for i in range(3):
    print("Jasman Singh")

In [ ]:
a = 10
b = 220
c = 30
d = a+b+c
print(f"{a}+{b}+{c} --> {d}")

In [ ]:
hello = "Hello "
a = "Jasman"
b = " Singh"
final = hello+a+b
print (f"{hello}+{a} +{b} --> {final}")

In [ ]:
for i in range(11):
    print(f"7 X {i} = {7*i}")

In [ ]:
for i in range(11):
    print(f"9 X {i} = {9*i}")

In [ ]:
n = int(input("Enter the number"))
result = n*(n+1)/2
print(result)

55.0

In [ ]:

list1 = []
for i in range(3):
    list1.append(int(input(f"Enter the {i}th number")))
print(list1)
print(max(list1))

In [ ]:
n = int(input("Enter a No: "))
sum=0
for i in range(n+1):
    if(i%7==0 or i%9==0):
        sum+=i
print(sum)

In [ ]:

n = int(input("Enter a No: "))
sum =0
for i in range(2, n+1):
    flag =0
    for div in range(2, int(i**0.5) + 1):
    	if  i%div == 0:
    		flag =1
    		break
    if flag ==0:
    	sum+=i
print(sum)

In [ ]:
def odd(n):
    sum=0
    for i in range(n+1):
        if(i%2!=0):
            sum+=i
    return sum
result = odd(5)
print(result)

In [ ]:
def odd(n):
    sum=0
    for i in range(2, n+1):
        flag=0
        for div in range(2, int(i**0.5)+1):
            if(i%div==0):
                flag=1
                break
        if(flag==0):
            sum+=i
    return sum
result = odd(5)
print(result)